<div class="start">
    <div class="row">
        <div class="col-12 text=center">
            <h1>Enter your Ethnicity.</h1>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6 col-xs-12 offset-md-2">
            <input type="text" name="country" ng-model="country" ng-keyup="complete(country)" class="form-control" />
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata}}</li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-12">
            <button class="btn btn-success">GO</button>
        </div>
    </div>
</div>